@import 'variables.css';

html {
	box-sizing: border-box;
}

* {
	margin:  0;
	padding: 0;
}

*, *:after, *:before {
	box-sizing: inherit;
}

*:focus {
	outline: none;
}

body {
	background:  var(--color-background);
	color:       var(--color-text);
	font-family: var(--font-primary);
}

input, button {
	color: inherit;
}

.container {
	width:   100vw;
	height:  100vh;
	padding: 4rem;
	margin:  auto;

	@media (width <= 700px) {
		padding: 2rem;
	}
}

.calculator {
	max-width: 700px;
	margin:    auto;

	@media (width <= 700px) {
		margin-bottom: 38px;
	}
}

.display {
	display:         flex;
	justify-content: flex-end;
	align-items:     center;
	height:          120px;
	margin-bottom:   20px;
	padding:         0 20px;
	background:      var(--color-background);
	border:          2px solid var(--color-border);
	border-radius:   5px;
	font-size:       2rem;
}

.display > input {
	border:     none;
	background: none;
	font-size:  2rem;
	width:      100%;
	text-align: right;
}

.buttons {
	display:               grid;
	grid-template-columns: repeat(4, 1fr);
	gap:                   8px 4px;
}

.calc-button {
	display:         flex;
	justify-content: center;
	align-items:     center;
	height:          75px;
	background:      var(--color-background);
	border:          2px solid var(--color-border);
	border-radius:   5px;
	font-size:       1.5rem;
	cursor:          pointer;
	transition:      background 0.3s;

	&:hover {
		background: var(--color-background-secondary);
	}
}

#clear {
	grid-column: span 2;
}

#backspace {
	grid-column: span 2;
}

#divide, #multiply, #subtract, #add, #equals {
	background:   var(--color-primary);
	border-color: var(--color-border-secondary);
	color:        var(--color-text-secondary);

	&:hover {
		background: var(--color-secondary);
	}
}

#equals {
	grid-column: span 4;
}

#zero {
	grid-column: span 2;
}
