:root {
	--color-primary:              #FF7043;
	--color-secondary:            #E64A19;
	--color-white:                #fafafa;
	--color-black:                #333;
	--color-lightgrey:            #E0E0E0;
	--color-text:                 var(--color-black);
	--color-text-secondary:       var(--color-white);
	--color-background:           var(--color-white);
	--color-background-secondary: var(--color-lightgrey);
	--color-border:               var(--color-lightgrey);
	--color-border-secondary:     var(--color-secondary);
	--color-shadow:               rgba(0, 0, 0, 0.1);
	--font-primary:               'Roboto', sans-serif;
}
